*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background_image.jpg);
    background-position: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow:black 1px 0 10px;
    
}


.temps{
    border:white 5px solid;
    padding: 30px;
    border-radius: 10px;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive;
    backdrop-filter: blur(10px);
}
